
<%#= video_tag(["home-background.mp4"], :playsinline => true, :autoplay => true, :loop => true, :muted => "", :width => "100%", :height => "100%", :frameborder => "0", :id => "bgvid") %>
<div id="home-background"> 
  <div id="bench-background">
  </div>
  <div id="life">
      <h1>Life is a journey</h1>
  </div>
  <div id="colfun">
    <div id='colfun-upper'>
      <div class="carousel">
		  <div class="my-slide"><img src="https://c1.staticflickr.com/4/3859/32432785274_cf55f72c5e_b.jpg"></div>
		  <div class="my-slide"><img src="https://c1.staticflickr.com/3/2826/32432790544_8eff77ca73_b.jpg"></div>
		  <div class="my-slide"><img src="https://c1.staticflickr.com/1/582/32432792364_97bd10edb6_b.jpg"></div>
		  <div class="my-slide"><img src="https://c1.staticflickr.com/1/680/32432794624_82fd88c71d_b.jpg"></div>
		  <div class="my-slide"><img src="https://c1.staticflickr.com/3/2898/33147870291_836641a2d1_b.jpg"></div>
		  <div class="my-slide"><img src="https://c1.staticflickr.com/4/3923/32461156383_ed4fe09fd6_b.jpg"></div>
      </div>
    </div>
    <div id='colfun-lower'>
      <h1 style="margin-top: 10px; margin-bottom: 15px; color: #272727;">Follow Me!</h1>
      <table style="width:100%">
	  <tr>
	    <td><h4><a href="https://www.facebook.com/JeremyKwaMusic/">Facebook</a></h4></td>
	    <td><iframe src="https://www.facebook.com/plugins/follow.php?href=https%3A%2F%2Fwww.facebook.com%2Fjeremykwamusic&width=300&height=35&layout=standard&size=large&show_faces=false&appId=291617821255179" width="300" height="35" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></td>
	  </tr>
	  <tr>
	    <td><h4><a href="https://twitter.com/jeremykwamusic">Twitter</a></h4></td>
	    <td><a class="twitter-follow-button" href="https://twitter.com/jeremykwamusic" data-size="large">
        Follow @jeremykwamusic</a></td>
	  </tr>
	  <tr>
	    <td><h4><a href="https://www.youtube.com/channel/UCVEqFmhDNm0859M6SfVJivw">Youtube</a></h4></td>
	    <td><div class="g-ytsubscribe" data-channelid="UCVEqFmhDNm0859M6SfVJivw" data-layout="default" data-theme="dark" data-count="default"></div></td>
	  </tr>
	  <tr>
	    <td><h4><a href="https://soundcloud.com/jeremykwamusic">SoundCloud</a></h4></td>
	    <td><iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fjeremykwamusic&color=orange_white&size=32" style="width: 32px; height: 32px;"></iframe></td>
	  </tr>
	  </table>
      
    </div>
  </div>
</div>


<!--
    <ul>
      	<li>Facebook <iframe src="https://www.facebook.com/plugins/follow.php?href=https%3A%2F%2Fwww.facebook.com%2Fjeremykwamusic&width=300&height=35&layout=standard&size=large&show_faces=false&appId=291617821255179" width="300" height="35" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></li>
      	<li>Instagram <a class="twitter-follow-button"
  href="https://twitter.com/jeremykwamusic" data-size="large">
Follow @TwitterDev</a></li>
      	<li>Youtube

<div class="g-ytsubscribe" data-channelid="UCVEqFmhDNm0859M6SfVJivw" data-layout="default" data-theme="dark" data-count="default"></div></li>
      	<li>Soundcloud <iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fjeremykwamusic&color=orange_white&size=32" style="width: 32px; height: 32px;"></iframe></li>
      </ul>
-->


<!--
<button id="vidpause">Pause</button>
-->