<h2>Music Production</h2>

  <p>My musical training began at the age of 8 through weekly piano lessons.  Since then, I've sang in a number of choirs and even joined an a cappella group in college.  I spent my summers performing at a plaza weekly for a few hours at a time. I've found a joy in tinkering with the nuanced art of recording, mixing, and creating music in my home studio.  Feel free to check out some of my projects listed below:
  <br>
  </p>
  <div class="video-unit">
  <a href="https://www.youtube.com/embed/gVlKVVcOfnA" class="html5lightbox" data-group="youtube-covers" data-thumbnail="https://i.ytimg.com/vi/gVlKVVcOfnA/hqdefault.jpg" onload=";__ytRIL(this)" title="When We Were Young"><img aria-hidden="true" data-ytimg="1" width="180" alt="" src="https://i.ytimg.com/vi/gVlKVVcOfnA/hqdefault.jpg?custom=true&amp;w=196&amp;h=110&amp;stc=true&amp;jpg444=true&amp;jpgq=90&amp;sp=68&amp;sigh=jsd1lejgLXwSlQxRd5Sz9rDSb0E" onload=";__ytRIL(this)"></a>
  <h5>When We Were Young</h5>
  <h6>Adele</h6>
  </div>

  <div class="video-unit">
  <a href="https://www.youtube.com/watch?v=crjobmlnGKQ" class="html5lightbox" data-group="youtube-covers" data-thumbnail="https://i.ytimg.com/vi/crjobmlnGKQ/hqdefault.jpg" onload=";__ytRIL(this)" title="Some Type Of Love"><img aria-hidden="true" data-ytimg="1" width="180" alt="" src="https://i.ytimg.com/vi/crjobmlnGKQ/hqdefault.jpg?custom=true&amp;w=196&amp;h=110&amp;stc=true&amp;jpg444=true&amp;jpgq=90&amp;sp=68&amp;sigh=Y0qW1BNvzUShuPCCno3hBAIPgJ8" onload=";__ytRIL(this)"></a>
  <h5>Some Type Of Love</h5>
  <h6>Charlie Puth</h6>
  </div>

  <div class="video-unit">
  <a href="https://www.youtube.com/watch?v=ni6ETCxtUOk" class="html5lightbox" data-group="youtube-covers" data-thumbnail="https://i.ytimg.com/vi/ni6ETCxtUOk/hqdefault.jpg" onload=";__ytRIL(this)" title="This Town"><img aria-hidden="true" data-ytimg="1" width="180" alt="" src="https://i.ytimg.com/vi/ni6ETCxtUOk/hqdefault.jpg?custom=true&amp;w=196&amp;h=110&amp;stc=true&amp;jpg444=true&amp;jpgq=90&amp;sp=68&amp;sigh=B_-l1EYJyAy-zEmb9cwDi3Spsho" onload=";__ytRIL(this)"></a>
  <h5>This Town</h5>
  <h6>Niall Horan</h6>
  </div>

  <div class="video-unit">
  <a href="https://www.youtube.com/watch?v=GvF7KqU7KTY" class="html5lightbox" data-group="youtube-covers" data-thumbnail="https://i.ytimg.com/vi/GvF7KqU7KTY/hqdefault.jpg" onload=";__ytRIL(this)" title="Love Yourself"><img aria-hidden="true" data-ytimg="1" width="180" alt="" src="https://i.ytimg.com/vi/GvF7KqU7KTY/hqdefault.jpg?custom=true&amp;w=196&amp;h=110&amp;stc=true&amp;jpg444=true&amp;jpgq=90&amp;sp=68&amp;sigh=pKAY09duBQL7-idSWa4FXIGguYA" onload=";__ytRIL(this)"></a>
  <h5>Love Yourself</h5>
  <h6>Justin Bieber</h6>
  </div>
  <iframe width="100%" height="100" scrolling="no" frameborder="yes" style="margin: 10px auto;" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/267061613&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>