<h2>Software Engineering</h2>

<p>If you asked me as I was graduating college if I'd be a software engineer, I wouldn't have believed you. As a mechanical engineering graduate, I implemented C/C++, MATLAB, and LabView in several school projects but programming never really appealed to me mainly because it is difficult to grasp what's actually happening within the computer, especially in embedded, black-box software. After college, I started learning music production which required downloading workstations, various plugins, and understanding I/O signals. Understanding software would help me produce higher quality music. As a result, I started learning a little bit of everything from html/css to MySQL. I soon found a joy in programming while completing project after project. The truth is, you have to start with what you know; everyone encounters bugs but overall, it proves so rewarding in the end. Click on the link below to visit my projects:
</p>

<h3><%= link_to "View my portfolio", portfolio_path %></h3>